@page
@using OOD.WeddingPlanner.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using OOD.WeddingPlanner.Web.Pages.Invitations
@using OOD.WeddingPlanner.Localization
@using OOD.WeddingPlanner.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<WeddingPlannerResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Invitation"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Invitation"].Value);
    PageLayout.Content.MenuItemName = WeddingPlannerMenus.Invitation;
}

@section scripts
{
<abp-script src="/Pages/Invitations/index.js" />
}
@section styles
{
<abp-style src="/Pages/Invitations/index.css" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Invitation"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                @if (await Authorization.IsGrantedAsync(WeddingPlannerPermissions.Invitation.Create))
                {
                    <abp-button id="NewInvitationButton" text="@L["CreateInvitation"].Value" icon="plus" button-type="Primary" />
                    <abp-button id="DownloadInvitationButton" text="@L["DownloadInvitations"].Value" icon="download " button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row>
            <abp-column size-md="_3" class="@(Model.WeddingIdFilterItems.Count <= 1?"d-none":"")">
                <abp-select asp-for="WeddingIdFilter" label="@L["InvitationWeddingId"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="DestinationFilter" label="@L["InvitationDestination"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-select asp-for="GroomSideFilter" label="@L["InvitationGroomSide"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-select asp-for="BrideSideFilter" label="@L["InvitationBrideSide"].Value" />
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" id="InvitationTable" class="nowrap" />
    </abp-card-body>
</abp-card>
<form asp-antiforgery=true method="post" target="_blank" id="download-invitation"></form>