@page
@using OOD.WeddingPlanner.Permissions
@using Microsoft.AspNetCore.Authorization
@using Microsoft.AspNetCore.Mvc.Localization
@using Volo.Abp.AspNetCore.Mvc.UI.Layout
@using OOD.WeddingPlanner.Web.Pages.Invitees
@using OOD.WeddingPlanner.Localization
@using OOD.WeddingPlanner.Web.Menus
@model IndexModel
@inject IPageLayout PageLayout
@inject IHtmlLocalizer<WeddingPlannerResource> L
@inject IAuthorizationService Authorization
@{
    PageLayout.Content.Title = L["Invitee"].Value;
    PageLayout.Content.BreadCrumb.Add(L["Menu:Invitee"].Value);
    PageLayout.Content.MenuItemName = WeddingPlannerMenus.Invitee;
}

@section scripts
{
<abp-script src="/Pages/Invitees/index.js" />
}
@section styles
{
<abp-style src="/Pages/Invitees/index.css" />
}

<abp-card>
    <abp-card-header>
        <abp-row>
            <abp-column size-md="_6">
                <abp-card-title>@L["Invitee"]</abp-card-title>
            </abp-column>
            <abp-column size-md="_6" class="text-right">
                @if (await Authorization.IsGrantedAsync(WeddingPlannerPermissions.Invitee.Create))
                {
                    <abp-button id="NewInviteeButton" text="@L["CreateInvitee"].Value" icon="plus" button-type="Primary" />
                }
            </abp-column>
        </abp-row>
    </abp-card-header>
    <abp-card-body>
        <abp-row class="mb-3">
            <abp-column size-md="_12">
                <form id="SearchForm" autocomplete="off">
                    <div class="input-group">
                        <input class="form-control" id="FilterText" placeholder="@L["Search"]" />
                        <div class="input-group-append">
                            <abp-button button-type="Primary" type="submit" icon="search" />
                        </div>
                    </div>
                </form>
            </abp-column>
            <abp-column size-md="_12" class="mt-3">
                <a href="javascript:;" id="AdvancedFilterSectionToggler">@L["SeeAdvancedFilters"]</a>
            </abp-column>
        </abp-row>

        <abp-row id="AdvancedFilterSection" style="display: none;">
            <abp-column size-md="_3">
                <abp-input asp-for="NameFilter" label="@L["InviteeName"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-input asp-for="SurnameFilter" label="@L["InviteeSurname"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-select asp-for="ConfirmedFilter" label="@L["InviteeConfirmed"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-select asp-for="ChildFilter" label="@L["InviteeChild"].Value" />
            </abp-column>
            <abp-column size-md="_3">
                <abp-select asp-for="HasInvitationFilter" label="@L["InviteeInvitationId"].Value" />
            </abp-column>
        </abp-row>
        <abp-table striped-rows="true" id="InviteeTable" class="nowrap" />
    </abp-card-body>
</abp-card>